---
import "../styles/tokens.css";
import EmployeeCard from "../components/EmployeeCard.astro";
import employees from "@data/employees.json";

console.log(employees);
---

<section class="our-team1">
  <div class="our-team-champion">
    <p>OUR TEAM</p>
    <h2>We champion the bold</h2>
    <p>
      Our success stems from the synergy between dedicated teams and our valued
      clients. We prioritize a company culture that fosters exceptional
      productivity, ensures customer satisfaction.
    </p>
    <button>Meet the Team</button>
  </div>

  <div class="employee2">
    {
      employees
        .slice(0, 2)
        .map((employee) => (
          <EmployeeCard
            img={employee.img}
            name={employee.name}
            title={employee.title}
            slug={employee.slug}
            description={employee.description}
          />
        ))
    }
  </div>
</section>

<style>
  .our-team1 {
    margin: 80px 0;
  }

  h2 {
    font-family: var(--font-heading);
    font-size: var(--text-h2);
    font-weight: 700;
    margin: 15px 0;
  }

  p {
    font-family: var(--font-text);
    font-size: var(--text-p);
    font-weight: 400;
    padding-bottom: 20px;
  }
  button {
    color: var(--color-on-ui-primary);
    background-color: var(--color-neutrals-900);
    border-radius: var(--radius-btn);
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    align-self: center;
  }

  @media (max-width: 600px) {
    .our-team1 {
      display: flex;
      flex-direction: column;
    }
  }
</style>
